body{
    height: 100%;
}

a{
    text-decoration: none !important;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

/**/
h2.titre {
    /*font-family: freight-sans-pro, sans-serif;*/
    font-weight: 900;
    /*background-color: #fff;*/
    color: #1968b3;
}
/********/

.label_esp{
    padding-left: 15px;
}

.izq{
    text-align: left !important;
}

/*botones tablas-listas*/
.boton_{
    width: 63px;
}

/*Header*/
header .container{
    height: 200px !important;
}

/*Buscador*/
.buscador {
    display: inline-flex;
}

.logo_princ img{
    vertical-align: middle;
    width: 180px;
    height: auto;
}

.logo_princ{
    position: relative;
    /*margin: 0 auto;*/
    display: inline-block;
    top:10px;
}

.derecha{
    text-align: right;
    padding: 5px 15px 5px 0;
    background-color: lightslategrey;
    color: #ffffff;
    list-style: none;
    height: 44px;
    /*vertical-align: middle !important;*/
}

.logeado{
    padding-top: 12px !important;
}

.derecha_li{
    text-align: center !important;
    left: auto !important;
    right: 0% !important;
    margin: 5px 0 !important;
}

.derecha_li::after{
    right: 15px !important;
    left: auto !important;
}

.nombre_salir{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Fin Header*/

/*Preguntas frecuentes*/
.preguntas{
    padding-bottom: 3%;
}
/**********************/


@media all and (max-width: 600px){
    select {
        width: 100%; max-width: 100%;
    }
}

/*Contenedor principal*/
.container{
    background: #fff;
    padding:0 30px;
    /*box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.4);*/
    box-shadow: 0 0 1em rgba(68,105,213,0.4);
    -webkit-box-shadow: 0 0 1em rgba(68,105,213,0.4);
    -moz-box-shadow: 0 0 1em rgba(68,105,213,0.4);
}
/* Fin Contenedor principal*/


/* Menú principal (inicio) */

.menu{
    top:20px;
}

.lista-menu {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;

}

.lista-menu:hover{
    color: #333333;
    background-color: #a3c0bd;
    font-weight: bold;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus{
    color: #ffffff;
    background-color: #1968b3;
    font-weight: bold;
}

.borde_no{
    border-right: none !important;
}

.dropdown-menu {
    position: absolute;
    display: inline-block;
    content: '';
    background-color: #a3c0bd;
}

.menu_bajo > li{
    background-color: #a3c0bd;
}


@media (max-width: 767px) {
    .menu_bajo > li:hover{
        background-color: #5d716e !important;
    }
    .menu_bajo > li > a:hover{
        background-color: #5d716e !important;
    }
}

.dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #a3c0bd;
    border-left: 6px solid transparent;
    content: '';
    color: #a3c0bd;
}

.dropdown-menu > li:hover{
    background-color: #1968b3 /*005983*/;
}

.navbar-nav .fondo{
    background-color: #1968b3;
    padding-left: 0px !important;
    margin-left: 0px !important;
    border-right: 1px solid #a3c0bd;
}

.navbar-toggle .icon-bar{
    background-color: grey;
    /*background-color: #ffffff;*/
}

.nav-barra .navbar-toggle {
    border-color: #ddd;
    background-color: #ffffff;
    /*border-color: rgb(0, 42, 98);*/
    /*background-color: rgb(0, 42, 98);*/
}

.nav-barra .navbar-toggle:hover{
    background-color: #ddd;

}

.nav-barra  {
    background-color: #1968b3;
}


.navbar-collapse.in {
    /*max-height: inherit !important;*/
    /*overflow-x: visible !important;*/
    /*overflow-y: visible !important;*/
}


/* Fin Menú principal (inicio) */


/* Redes Sociales */
.navbar-nav .redes{
    list-style: none;
    top: 7px;
    margin-right: 10px;
    background-color: transparent;
    text-align: center;
    padding-bottom: 10px;
}
/* Fin Redes Sociales */


/*Descripción Principal (inicio)*/
.descripcion_princ{
    background-color:lightslategrey;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* Fin Descripción Principal (inicio)*/


/*Descripción imágenes carrusel*/
.descripcion{
    background-color: #cc006a;
    opacity: 0.7;
    /*color: #ffffff;*/
}
/* Fin Descripción imágenes carrusel */


/* Carrusel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}

.carousel-inner{
    /*background-color: #97a0b3;*/
}

.myCarousel{
    height: 300px;
}

.imgCarousel{
    width: auto!important;
    height: 300px !important;
}

.myCarousel_{
    height: 250px;
}

.imgCarousel_{
    width: auto!important;
    height: 250px !important;
}

.flechas a  {
    color: #cc006a;
}

/*.peopleCarouselImg img {
  width: auto;
  height: 350px;
  max-height: 350px;
}*/
/* Fin Carrusel */

/*Twitter*/
@media (max-width: 767px) {
    .twit {
        padding-top: 15px;
        width: 90%;
        margin-right: 30px;
        margin-left: 30px;
    }
}

/* Fin Twitter*/

/*Instagram*/
.fondo_{
    background-color: #292F33;
}
.insta{
    border:none;
    /*overflow:hidden;*/
    height: 305px;
    width: auto;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;

    /*padding-left: 9%;*/

}

img.insta{
    height: 305px !important;
    width: auto;
}

/***********/

.ayuda{
    border:none;
    /*overflow:hidden;*/
    height: auto;
    width: auto;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;

    /*padding-left: 9%;*/

}

/* Pie de página (footer) */
.pie-pag{
    background-color: lightslategrey;
    /*margin:0 -30px;*/
    padding: 36px 30px 15px 30px;
}


.texto{
    text-align: justify;
    color: #ffffff;
    font-size: 12px;
}

.menu_foot{
    float: right;
}

.pie{
    text-decoration: none;
    background-color: dimgrey;
    color: #ffffff;
}

.pie:hover{
    color: #333;

}

.correo {
    text-decoration: underline;
    color: #ffffff;
}

.correo:hover{
    color: #333;
    text-decoration: solid;
}

/* Fin Pie de página (footer) */

/*Errores*/
.errores {
    background-color: #E35A26;
    border-radius: 10px;
    border: solid 2px;
    color: white;
    padding: 3%;
    /*border-color: #a94442;*/
}

.lista_errores {
    padding-left: 6%;
}

/*Fin Errores*/

/*Ingreso al sistema (login)*/
.paneles{
    margin-top: 40px;
}

.panel_login{
    border-color: lightslategrey;
}

.panel-heading{
    background-color: lightslategrey;
    color: #ffffff;
    font-weight: bold;
}

/* Fin Ingreso al sistema (login)*/


/* Misión y Visión */

.parr_mision1{
    text-align: justify;
    background-color: #a3c0bd;
    padding: 15px 15px;
    border-radius: 11px;
    text-indent: 20px;
    /*color: #fff;*/
}

/*.parr_mision6{*/
/*text-align: justify;*/
/*background-color: #c3325f;*/
/*color: #ffffff;*/
/*padding: 15px 15px;*/
/*border-radius: 11px;*/
/*}*/

.sangria{
    padding-left: 6%;
}
.centro{
    text-align: center;
}
/*.parr_mision3{*/
/*text-align: justify;*/
/*background-color: #005983;*/
/*color: #ffffff;*/
/*padding: 15px 15px;*/
/*border-radius: 11px;*/
/*text-indent: 20px;*/

/*}*/

/*.parr_mision4{*/
/*text-align: justify;*/
/*background-color: #a3c0bd;*/
/*padding: 15px 15px;*/
/*border-radius: 11px;*/
/*text-indent: 20px;*/
/*}*/

/*.parr_mision5{*/
/*text-align: justify;*/
/*background-color: #c3325f;*/
/*color: #ffffff;*/
/*padding: 15px 15px;*/
/*border-radius: 11px;*/
/*text-indent: 20px;*/

/*}*/

.parr_mision2{
    text-align: justify;
    background-color: #005983;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 11px;
    text-indent: 20px;

}

/* Fin Misión y Visión */


/* Estructura */
.parr_estruct1{
    text-align: justify;
    background-color: #a3c0bd;
    padding: 15px 15px;
    border-radius: 11px;
}

/* Fin Estructura */

/* Contacto */
.parr_contacto{
    text-align: justify;
}
.tit_contacto{
    color: #1968b3;
    font-weight: bold;
}

/* Fin Contacto*/

.bienvenida h3{
    text-align: center;
    margin-bottom: 15px;
    font-weight:bold;
}

/* Participante */
/*.opciones_part{*/
    /*border-right: 2px solid #a3c0bd;*/
/*}*/

.opciones_part2{
    border-left: 2px solid #a3c0bd;
}
/*.opciones_part{*/
    /*border-right: 2px solid #a3c0bd;*/
/*}*/

.menu_part ul{
    list-style: none;
    text-align: center;
    line-height: 30px;
}

/* Fin Participante */

/* Créditos */

.titulo{
    text-align: center;
    padding: 0 0 15px 0;
}

.logos .thumbnail{
    border: 0px;
}

.nombre{
    font-weight: bold;
}

.oficio {
    text-align: right;
    line-height: 1.5;
    color: #75918e;
    font-weight: bold;
}

/* Fin Creditos */

/* Menu usuarios */

/*.menu_usuario {
    
}

.menu_usuario:hover {
    background-color: white;
}

.menu_usuario {
    text-decoration: none;
    color: #;
    font-weight: bold;

}*/

.menu_usuarios > a{
    text-decoration: none;
    font-weight: bold;
}

.menu_usu:hover{
    background-color: #1968b3 !important;
    color: white;
    font-weight: bold;
}

/* Modal Crop Imagen perfil*/
.modal-body {
    max-height: 800px !important;
}
/*------------------------*/




/* Fin Menu usuarios */

/*.alto{*/
    /*height: 167px;*/
    /*vertical-align: middle !important;*/
/*}*/

/* Fin Créditos */

/*----------------------------------------------------------------------------------*/
/*body{*/
    /*height: 100%;*/
/*}*/


/*Header*/
/*header .container{*/
    /*height: 300px;*/
    /*text-align: center;*/
/*}*/

/*.logo_princ img{*/
    /*vertical-align: middle;*/
    /*width: 343px;*/
    /*height: auto;*/
/*}*/

/*.logo_princ{*/
    /*position: relative;*/
    /*margin: 0 auto;*/
    /*display: inline-block;*/
    /*top:30px;*/
/*}*/
/* Fin Header*/


/*Contenedor principal*/
/*.container{*/
    /*background: #fff;*/
    /*padding:0 30px;*/
    /*box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.4);*/
    /*box-shadow: 0 0 1em rgba(68,105,213,0.4);*/
    /*-webkit-box-shadow: 0 0 1em rgba(68,105,213,0.4);*/
    /*-moz-box-shadow: 0 0 1em rgba(68,105,213,0.4);*/
/*}*/
/* Fin Contenedor principal*/


/* Menú principal (inicio) */
/*.menu{*/
    /*top:20px;*/
/*}*/

/*.lista-menu {*/
    /*color: #005983;*/
    /*text-decoration: none;*/
    /*font-weight: bold;*/
    /*padding: 8px;*/

/*}*/

    /*.lista-menu:hover{*/
        /*color: #ffffff;*/
        /*background-color: #005983;*/
        /*font-weight: bold;*/
    /*}*/

/*.dropdown-menu::after {*/
    /*position: absolute;*/
    /*top: -6px;*/
    /*left: 10px;*/
    /*display: inline-block;*/
    /*border-right: 6px solid transparent;*/
    /*border-bottom: 6px solid #a3c0bd;*/
    /*border-left: 6px solid transparent;*/
    /*content: '';*/
    /*color: #a3c0bd;*/
/*}*/
/* Fin Menú principal (inicio) */


/* Redes Sociales */
/*.redes{*/
    /*list-style: none;*/
    /*top: 15px;*/
/*}*/
/* Fin Redes Sociales */


/*Descripción Principal (inicio)*/
/*.descripcion_princ{*/
    /*background-color:lightslategrey;*/
    /*text-align: center;*/
    /*color: #ffffff;*/
/*}*/
/* Fin Descripción Principal (inicio)*/


/*Descripción imágenes carrusel*/
/*.descripcion{*/
    /*background-color: #cc006a;*/
    /*opacity: 0.7;*/
    /*color: #ffffff;*/
/*}*/
/* Fin Descripción imágenes carrusel */


/* Carrusel */
/*.carousel-inner > .item > img,*/
/*.carousel-inner > .item > a > img {*/
    /*margin: auto;*/
/*}*/

/*.carousel-inner{*/
    /*background-color: #97a0b3;*/
/*}*/

/*.flechas a  {*/
    /*color: #cc006a;*/
/*}*/
/* Fin Carrusel */


/* Pie de página (footer) */
/*.pie-pag{*/
    /*background-color: lightslategrey;*/
    /*margin:0 -30px;*/
    /*padding: 36px 30px 0 30px;*/
/*}*/

/*.lista_logos li{*/
    /*list-style: none;*/
/*}*/

/*.texto{*/
    /*text-align: justify;*/
/*}*/

/*.titulo_footer{*/
    /*font-weight: bold;*/
/*}*/

/*.correo {*/
    /*text-decoration: none;*/
    /*color: inherit;*/
/*}*/

/*.correo:hover{*/
    /*color: #ffffff;*/
    /*text-decoration: solid;*/
/*}*/
/* Fin Pie de página (footer) */


/* Misión y Visión */

/*.parr_mision1{*/
    /*text-align: justify;*/
    /*background-color: #a3c0bd;*/
    /*padding: 15px 15px;*/
    /*border-radius: 11px;*/
    /*text-indent: 20px;*/
/*}*/

/*.parr_mision6{*/
    /*text-align: justify;*/
    /*background-color: #c3325f;*/
    /*color: #ffffff;*/
    /*padding: 15px 15px;*/
    /*border-radius: 11px;*/
/*}*/

/*.sangria{*/
    /*padding-left: 6%;*/
/*}*/
/*.centro{*/
    /*text-align: center;*/
/*}*/
/*.parr_mision3{*/
    /*text-align: justify;*/
    /*background-color: #005983;*/
    /*color: #ffffff;*/
    /*padding: 15px 15px;*/
    /*border-radius: 11px;*/
    /*text-indent: 20px;*/

/*}*/

/*.parr_mision4{*/
    /*text-align: justify;*/
    /*background-color: #a3c0bd;*/
    /*padding: 15px 15px;*/
    /*border-radius: 11px;*/
    /*text-indent: 20px;*/
/*}*/

/*.parr_mision5{*/
    /*text-align: justify;*/
    /*background-color: #c3325f;*/
    /*color: #ffffff;*/
    /*padding: 15px 15px;*/
    /*border-radius: 11px;*/
    /*text-indent: 20px;*/

/*}*/

/*.parr_mision2{*/
    /*text-align: justify;*/
    /*background-color: #005983;*/
    /*color: #ffffff;*/
    /*padding: 15px 15px;*/
    /*border-radius: 11px;*/
    /*text-indent: 20px;*/

/*}*/

/* Fin Misión y Visión */


/* Estructura */
/*.parr_estruct1{*/
    /*text-align: justify;*/
    /*background-color: #a3c0bd;*/
    /*padding: 15px 15px;*/
    /*border-radius: 11px;*/
/*}*/

/* Fin Estructura */

/* Contacto */
/*.parr_contacto{*/
    /*text-align: justify;*/
/*}*/
/*.tit_contacto{*/
    /*color: #005983;*/
    /*font-weight: bold;*/
/*}*/

/* Fin COntacto*/